<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>

	<div class="ui container" >

		<div class="ui raised blue segment" style="margin-top: 50px">
			<div class="ui center aligned blue header">
				Entreprenuer Profit Prediction
			</div>
		</div>

		<div class="ui stackable grid" style="margin-top: 30px">

			<div class="ten wide column">
				<div class="ui raised blue segment">
					<a class="ui red ribbon label">Input </a>
					<span class="ui center aligned blue header">
						Input fields
					</span>

					<form class="ui form" method="post" style="padding: 50px ">
						<div class="field">
							<label>Enter your Name : </label>
							<input type="text" id="username" name="name" placeholder="Name">
						</div>
						<div class="field">
							<label>Enter your Email Id :</label>
							<input type="text" id="email" name="email" placeholder="Email id">
						</div>
						<div class="field">
							<label>Enter your Phone : </label>
							<input type="text" id="phone" name="phone" placeholder="Phone">
						</div>
						<div class="field">
							<label>Enter your Password : </label>
							<input type="password" id="password" name="password" placeholder="Password">
						</div>

						<div class="ui primary button" id="submit" style="margin-top : 30px; ">Submit</div>
					</form>
				</div>
			</div>

			<div class="six wide column">
				<div class="ui raised blue segment">
					<a class="ui red ribbon label">Output</a>
					<span class="ui center aligned blue header">
						Output Fields
					</span>
				</div>
			</div>
		</div>
	</div>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	 <script type="text/javascript" src="main.js"></script>
</body>
</html>